BODY { azimuth: center; elevation: level; cue-before: none; cue-after: none; pause-before: 0%; pause-after: 0%; pitch: medium; pitch-range: 75; play-during: none; speak: normal; speak-punctuation: none; speak-numeral: continuous; speech-rate: slow; voice-family: loquendo, male }
A:link, A:active, A:visited { cue-before: url("sonum/Ding.wav.html"); cue-after: url("sonum/Remove.wav.html") }

SPAN.tras {voice-family: female; pitch: 75}
SPAN.cita {voice-family: female; richness: 100; azimuth: right-side}
SPAN.citas {voice-family: female; richness: 100; azimuth: right-side; pitch: 75}
SPAN.rf {voice-family: female; cue-before: url("sonum/Exclamation.wav.html"); cue-after: url("sonum/Exclamation.wav.html")}
SPAN.vox {voice-family: female; richness: 100; azimuth: left-side; pitch: 75}
SPAN.sent {voice-family: female; pitch: 25}
SPAN.gr {voice-family: female; speech-rate: x-slow; elevation: 45deg}
SPAN.graec {voice-family: female; speech-rate: x-slow; elevation: 45deg }
SPAN.hb {voice-family: female; speech-rate: x-slow; elevation: -45deg  }
SPAN.ar {voice-family: female; elevation: -90deg }
SPAN.auct { voice-family: female; elevation: 90deg }

DIV.centro { speak: none }
DIV.uno { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 100; volume: 100 }
DIV.dos { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 90; volume: 90 }
DIV.tres { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 80; volume: 80 }
DIV.cuatro { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 70; volume: 70 }
DIV.cuatrog { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 100; volume: 70 }
DIV.cinco { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 60; volume: 60 }
DIV.seis { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 50; volume: 50 }
DIV.seisv { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 100; volume: 50 }
DIV.siete { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 40; volume: 40 }
DIV.ocho { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 30; volume: 30 }
DIV.nueve { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 20; volume: 20 }

DIV.A { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 100; volume: 100 }
DIV.B { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 90; volume: 90 }
DIV.C { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 80; volume: 80 }
DIV.D { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 70; volume: 70 }
DIV.E { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 60; volume: 60 }
DIV.F { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 50; volume: 50 }
DIV.G { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 40; volume: 40 }
DIV.H { pause-before: 100%; pause-after: 100%; voice-family: female; elevation: 90deg; stress: 30; volume: 30 }

SPAN.uno { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 100; volume: 100 }
SPAN.dos { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 90; volume: 90 }
SPAN.tres { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 80; volume: 80 }
SPAN.cuatro { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 70; volume: 70 }
SPAN.cinco { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 60; volume: 60 }
SPAN.seis { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 50; volume: 50 }
SPAN.siete { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 40; volume: 40 }
SPAN.ocho { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 30; volume: 30 }
SPAN.nueve { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 20; volume: 20 }
SPAN.diez { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 10; volume: 10 }

SPAN.unon { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 100; volume: 100 }
SPAN.dosn { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 90; volume: 90 }
SPAN.tresn { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 80; volume: 80 }
SPAN.cuatron { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 70; volume: 70 }
SPAN.cincon { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 60; volume: 60 }
SPAN.seisn { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 50; volume: 50 }
SPAN.sieten { pause-before: 100%; pause-after: 100%; voice-family: loquendo, male; elevation: -90deg; stress: 40; volume: 40 }

SPAN.breve {azimuth: behind }
SPAN.blank { speak: none }
SPAN.lista { azimuth: right-side; pause-before: 100%; pause-after: 100%; voice-family: female }
SPAN.num { speak: none }
SPAN.tit { speak: none }
SPAN.ref { cue-before: url("sonum/Notify.wav.html"); cue-after: url("sonum/Complete.wav.html") }
SPAN.refs { cue-before: url("sonum/Notify.wav.html"); cue-after: url("sonum/Complete.wav.html") }
SPAN.cit { speak: none }

SPAN.O { cue-before: url("sonum/Balloon.wav.html"); cue-after: url("sonum/Balloon.wav.html") }
SPAN.L { cue-before: url("sonum/Bar.wav.html"); cue-after: url("sonum/Bar.wav.html") }
SPAN.I { cue-before: url("sonum/Blocked.wav.html"); cue-after: url("sonum/Blocked.wav.html") }
SPAN.M { cue-before: url("sonum/Complete.wav.html"); cue-after: url("sonum/Complete.wav.html") }
SPAN.H { cue-before: url("sonum/Control.wav.html"); cue-after: url("sonum/Control.wav.html") }
SPAN.T { cue-before: url("sonum/Critical.wav.html"); cue-after: url("sonum/Critical.wav.html") }
SPAN.C { cue-before: url("sonum/Default.wav.html"); cue-after: url("sonum/Default.wav.html") }
SPAN.F { cue-before: url("sonum/Ding.wav.html"); cue-after: url("sonum/Ding.wav.html") }
SPAN.G { cue-before: url("sonum/Discovered.wav.html"); cue-after: url("sonum/Discovered.wav.html") }
SPAN.X { cue-before: url("sonum/Error.wav.html"); cue-after: url("sonum/Error.wav.html") }
SPAN.Y { cue-before: url("sonum/Exclamation.wav.html"); cue-after: url("sonum/Exclamation.wav.html") }
SPAN.Z { cue-before: url("sonum/Fail.wav.html"); cue-after: url("sonum/Fail.wav.html") }
SPAN.W { cue-before: url("sonum/Insert.wav.html"); cue-after: url("sonum/Insert.wav.html") }
SPAN.V { cue-before: url("sonum/Logoff.wav.html"); cue-after: url("sonum/Logoff.wav.html") }
SPAN.P { cue-before: url("sonum/Logon.wav.html"); cue-after: url("sonum/Logon.wav.html") }
SPAN.N { cue-before: url("sonum/Low.wav.html"); cue-after: url("sonum/Low.wav.html") }
SPAN.Q { cue-before: url("sonum/Notify.wav.html"); cue-after: url("sonum/Notify.wav.html") }

SPAN.nota { azimuth: behind far-right }
SPAN.falsa { volume: 40 }
SPAN.negra { speak: normal }
SPAN.negrag { speak: normal }
SPAN.super { stress: 100 }
SPAN.ZA { stress: 100; volume: 100 }
TABLE { speak: normal }
TH { pause-before: 100%; pause-after: 100% }
TD { pause-before: 100%; pause-after: 100% }
UL.no { pause-before: 100%; pause-after: 100% }

LI.BR { pause-before: 100%; pause-after: 100% }
LI.BAP { pause-before: 100%; pause-after: 100% }
LI.BRP { pause-before: 100%; pause-after: 100% }
LI.BMP { pause-before: 100%; pause-after: 100% }
LI.CZP { pause-before: 100%; pause-after: 100% }
LI.EN { pause-before: 100%; pause-after: 100% }
LI.ENP { pause-before: 100%; pause-after: 100% }
LI.ESP { pause-before: 100%; pause-after: 100% }
LI.ES { pause-before: 100%; pause-after: 100% }
LI.FR { pause-before: 100%; pause-after: 100% }
LI.HR { pause-before: 100%; pause-after: 100% }
LI.PO { pause-before: 100%; pause-after: 100% }
LI.IT { pause-before: 100%; pause-after: 100% }
LI.NL { pause-before: 100%; pause-after: 100% }
LI.NP { pause-before: 100%; pause-after: 100% }
LI.DE { pause-before: 100%; pause-after: 100% }
LI.LA { pause-before: 100%; pause-after: 100% }
LI.POL { pause-before: 100%; pause-after: 100% }
LI.EL { pause-before: 100%; pause-after: 100% }
LI.RU { pause-before: 100%; pause-after: 100% }
