BODY {line-height: 150%; text-align: justify; font-family: Garamond, "Palatino Linotype", Palatino, "Times New Roman"; font-size: medium; margin-left: 2em; margin-right: 2em}
A:link, A:active, A:visited {text-decoration: underline; color: blue}


SPAN.tras {font-family: Arial, "Arial Unicode MS", Helvetica; font-weight: bold}
SPAN.cita {font-style: italic}
SPAN.citas {font-style: italic}
SPAN.rf {font-size: small}
SPAN.vox {font-family: "Trebuchet MS", "Palatino Linotype", Palatino, "Times New Roman", Times}
SPAN.sent {font-family: "Times New Roman", Times, "Palatino Linotype", Palatino; font-size: 13pt}
SPAN.gr {font-family: "Arial Unicode MS", GentiumAlt, Gentium; font-weight: bold; font-style: normal; font-size: 13pt}
SPAN.graec {font-family: "Arial Unicode MS", GentiumAlt, Gentium; font-weight: bold; font-style: normal; font-size: 13pt}
SPAN.hb {font-family: "Times New Roman", "Arial Unicode MS"}
SPAN.ar {font-family: "Times New Roman", "Arial Unicode MS"}
SPAN.auct {display: block; text-align: right}

DIV.centro {text-align: center}
DIV.uno {font-family: Garamond, "Times New Roman"; font-size: x-large; line-height: 100%; text-align: center}
DIV.dos {font-family: Arial, Geneva; font-size: large; line-height: 100%; text-align: center}
DIV.tres {font-family: "Times New Roman"; font-size: medium; line-height: 120%; text-align: center}
DIV.cuatro {font-family: Arial, Geneva; font-size: medium; line-height: 120%; text-align: center}
DIV.cuatrog {font-family: Arial, Geneva; font-size: large; line-height: 120%; text-align: center}
DIV.cinco {font-family: Garamond, "Times New Roman"; font-size: medium; line-height: 120%; text-align: center}
DIV.seis {font-family: Arial, Geneva; font-size: small; line-height: 120%; text-align: center}
DIV.seisv {font-family: Arial, Geneva; font-size: small; line-height: 120%; text-align: center}
DIV.siete {font-family: Arial, Geneva; font-size: medium; line-height: 120%; text-align: center}
DIV.ocho {font-family: "Times New Roman"; font-size: medium; line-height: 120%; text-align: center}
DIV.nueve {font-family: Verdana, Arial, Geneva; font-size: x-small; line-height: 120%; text-align: center}
DIV.A {font-family: "Times New Roman"; text-align: center; font-size: x-large; line-height: 100%; font-weight: bold; text-transform: uppercase}
DIV.B {font-family: Garamond, "Times New Roman"; text-align: center; font-size: x-large; line-height: 100%; font-weight: bold; text-transform: uppercase}
DIV.C {font-family: "Times New Roman"; line-height: 120%; text-align: center; font-size: large; font-weight: bold; text-transform: uppercase}
DIV.D {font-family: Garamond, "Times New Roman"; line-height: 120%; text-align: center; font-size: large; font-weight: bold; text-transform: uppercase}
DIV.E {font-family: "Times New Roman"; line-height: 120%; text-align: center; font-size: medium; font-weight: bold; text-transform: uppercase}
DIV.F {font-family: Garamond, "Times New Roman"; line-height: 120%; text-align: center; font-size: medium; font-weight: bold; text-transform: uppercase}
DIV.G {font-family: "Times New Roman"; font-size: small; line-height: 120%; font-weight: bold; text-align: center; text-transform: uppercase}
DIV.H {font-family: Garamond, "Times New Roman"; line-height: 120%; text-align: center; font-size: small; font-weight: bold; text-transform: uppercase}
SPAN.uno {font-family: Garamond, "Times New Roman"; font-size: x-large; line-height: 100%}
SPAN.dos {font-family: Arial, Geneva; font-size: large; line-height: 120%}
SPAN.tres {font-family: "Times New Roman"; font-size: medium; line-height: 120%}
SPAN.cuatro {font-family: Arial, Geneva; font-size: medium; line-height: 120%}
SPAN.cinco {font-family: Garamond, "Times New Roman"; font-size: medium; line-height: 120%}
SPAN.seis {font-family: Arial, Geneva; font-size: small; line-height: 120%}
SPAN.siete {font-family: Arial, Geneva; font-size: x-small; line-height: 120%}
SPAN.ocho {font-size: medium; line-height: 120%}
SPAN.nueve {font-family: "Times New Roman"; font-size: x-small; line-height: 120%}
SPAN.diez {font-family: "Times New Roman"; font-size: x-small; line-height: 120%}
SPAN.unon {font-family: Garamond, "Times New Roman"; font-size: x-large; font-weight: bold; line-height: 100%}
SPAN.dosn {font-family: Arial, Geneva; font-size: large; font-weight: bold; line-height: 120%}
SPAN.tresn {font-family: "Times New Roman"; font-size: medium; font-weight: bold; line-height: 120%}
SPAN.cuatron {font-family: Arial, Geneva; font-size: medium; font-weight: bold; line-height: 120%}
SPAN.cincon {font-family: Garamond, "Times New Roman"; font-size: medium; font-weight: bold; line-height: 120%}
SPAN.seisn {font-family: Arial, Geneva; font-size: small; font-weight: bold; line-height: 120%}
SPAN.sieten {font-family: Arial, Geneva; font-size: x-small; font-weight: bold; line-height: 120%}
SPAN.breve {text-decoration: none}
SPAN.blank {font-family: "Times New Roman"; font-size: x-small; line-height: 100%; text-align: center}
SPAN.lista {display: block; text-align: right}
SPAN.num {font-family: Arial, Geneva; font-size: small}
SPAN.tit {display: none}
SPAN.ref {display: block; font-size: small; line-height: 120%; text-align: right}
SPAN.refs {font-family: Arial, Geneva; font-size: small; font-weight: light; line-height: 100%; vertical-align: middle}
SPAN.cit {display: none}

SPAN.O {border-style: outset; line-height: 250%}
SPAN.L {border-style: inset; line-height: 250%}
SPAN.I {font-weight: bold; font-style: italic; line-height: 250%}
SPAN.M {font-weight: bold; border-style: solid; line-height: 250%}
SPAN.H {font-weight: bold; font-style: italic; border-style: solid; line-height: 250%} 
SPAN.T {text-decoration: line-through; line-height: 250%}
SPAN.C {font-weight: bold; text-decoration: underline; line-height: 250%}
SPAN.F {font-weight: bold; font-style: italic; text-decoration: line-through; line-height: 250%}
SPAN.G {font-weight: bold; border-style: solid; vertical-align: sub; text-decoration: line-through; line-height: 250%}
SPAN.X {text-decoration: line-through; vertical-align: super; letter-spacing: 2pt; line-height: 250%}
SPAN.Y {font-weight: bold; vertical-align: sub; letter-spacing: 2pt; line-height: 250%}
SPAN.Z {font-weight: bold; font-style: italic; text-decoration: line-through; vertical-align: super; letter-spacing: 2pt; line-height: 250%}
SPAN.W {font-weight: bold; border-style: solid; text-decoration: line-through; vertical-align: super; letter-spacing: 2pt; line-height: 250%}
SPAN.V {border-style: dotted; line-height: 250%}
SPAN.P {border-style: dotted; font-weight: bold; font-style: italic; line-height: 250%}
SPAN.N {border-style: dotted; text-decoration: line-through; line-height: 250%}
SPAN.Q {border-style: dotted; font-weight: bold; text-decoration: underline; line-height: 250%}

SPAN.nota {font-family: "Courier New", Courier}
SPAN.falsa {font-family: Garamond, "Times New Roman"; font-size: small; line-height: 120%}
SPAN.negra {font-family: Arial, Geneva; font-size: medium; font-weight: bold; line-height: 120%}
SPAN.negrag {font-family: Arial, Geneva; font-size: large; font-weight: bold; line-height: 120%}
SPAN.super {font-size: x-small; vertical-align: text-top}
SPAN.ZA {text-transform: uppercase}
TABLE {text-align: center}
TH {vertical-align: middle; text-align: center}
TD {text-align: left}
UL.no {font-family: Garamond, "Times New Roman"; list-style-type: none}
LI.BR {list-style-image: url(icons/red-ball.gif.html)}
LI.BAP {list-style-image: url(icons/bap.gif.html)}
LI.BRP {list-style-image: url(icons/brp.gif.html)}
LI.BMP {list-style-image: url(icons/bmp.gif.html)}
LI.CZP {vertical-align: 33%; list-style-image: url(icons/bczp.gif.html) }
LI.EN {vertical-align: 33%; list-style-image: url(icons/ben.gif) }
LI.ENP {vertical-align: 33%; list-style-image: url(icons/benp.gif.html) }
LI.ESP {vertical-align: 33%; list-style-image: url(icons/besp.gif.html) }
LI.ES {vertical-align: 33%; list-style-image: url(icons/bes.gif) }
LI.FR {vertical-align: 33%; list-style-image: url(icons/bfr.gif) }
LI.PO {vertical-align: 33%; list-style-image: url(icons/bpt.gif) }
LI.IT {vertical-align: 33%; list-style-image: url(icons/bit.gif) }
LI.NL {vertical-align: 33%; list-style-image: url(icons/bnl.gif) }
LI.NP {vertical-align: 33%; list-style-image: url(icons/bnp.gif) }
LI.DE {vertical-align: 33%; list-style-image: url(icons/bde.gif) }
LI.LA {vertical-align: 33%; list-style-image: url(icons/bla.gif) }
LI.POL {vertical-align: 33%; list-style-image: url(icons/bpl.gif) }
LI.EL {vertical-align: 33%; list-style-image: url(icons/bel.gif) }
LI.RU {vertical-align: 33%; list-style-image: url(icons/bru.gif) }
