@import "assets/css/iawriter.css";
@import "assets/css/style.css";

a, a:link, a:active, a:visited {
	text-decoration:none;
	color:#191971;
}

.ref {
	font-family:'helvetica',sans-serif;
	display:block;
	font-size:small;
	line-height:150%;
	text-align:right;
	color:grey;
}

.ref a:link {
	text-decoration: none;
	color: gray;
}

.ref a:hover {
	color: red;
}


.tit {
	display:none;
}

hr {
	color: #111111;
	background-color: #fafafa;
	width: 70%;
	text-align: left;
}

SPAN.tras {
	font-family:'iawriter',Georgia,serif;
	font-weight:700;
}

SPAN.cita {
	font-family:'iawriter',Georgia,serif;
	color:#014567;
	font-weight:700;
}

SPAN.citas {
	font-style:italic;
}

SPAN.rf {
	font-size:small;
}

SPAN.vox {
	font-family:'iawriter',Georgia,serif;
}

SPAN.sent {
	font-family:'iawriter',Georgia,serif;
	font-size:13pt;
}

SPAN.gr {
	font-family:'iawriter',Georgia,serif;
	font-weight:700;
	font-style:normal;
	color:#014567;
	font-size:13pt;
}

SPAN.graec {
	font-family:'iawriter',Georgia,serif;
	font-weight:700;
	font-style:normal;
	color:#014567;
	font-size:13pt;
}

SPAN.hb {
	font-family:'iawriter',Georgia,serif;
}

SPAN.ar {
	font-family:'iawriter',Georgia,serif;
}

SPAN.auct {
	display:block;
	text-align:right;
}

DIV.centro {
	text-align:center;
}

DIV.uno {

	color:red;
	text-align:center;
	font-size: 1em;
    font-style: italic;
    line-height: 1.52381em; 
}

DIV.dos {
	text-align:center;
	background:#f2f2f2;
	font-size: 1em;
    font-style: normal;
    line-height: 1.52381em; 
}

DIV.tres {
	text-align:center;
	font-size: 1em;
	font-style: normal;
	line-height: 1.52381em;
	background:#f2f2f2;
}

DIV.cuatro {
	font-family:'iawriter',Georgia,serif;
	text-align:center;
	background:#f2f2f2;
	color:red;
}

DIV.cuatrog {
	font-family:'iawriter',Georgia,serif;
	font-size:large;
	line-height:120%;
	text-align:center;
	background:#f2f2f2;
	color:red;
}

DIV.cinco {
	font-family:'iawriter',Georgia,serif;
	font-size:medium;
	line-height:120%;
	text-align:center;
	background:#f2f2f2;
	color:red;
}

DIV.seis {
	font-family:'iawriter',Georgia,serif;
	font-size:small;
	line-height:120%;
	text-align:center;
	background:#f2f2f2;
	color:red;
}

DIV.seisv {
	font-family:'iawriter',Georgia,serif;
	font-size:small;
	line-height:120%;
	text-align:center;
	background:#f2f2f2;
	color:#111111;
}

DIV.siete {
	font-family:'iawriter',Georgia,serif;
	font-size:medium;
	line-height:120%;
	text-align:center;
	background:#f2f2f2;
	color:#111111;
}

DIV.ocho {
	font-family:'iawriter',Georgia,serif;
	font-size:medium;
	line-height:120%;
	text-align:center;
	background:#f2f2f2;
	color:#111111;
}

DIV.nueve {
	font-family:Verdana,'iawriter',Georgia,serif;
	font-size:x-small;
	line-height:120%;
	text-align:center;
	background:#f2f2f2;
	color:#111111;
}

DIV.A {
	font-family:'iawriter',Georgia,serif;
	text-align:center;
	font-size:x-large;
	line-height:100%;
	font-weight:700;
	text-transform:uppercase;
	background:#f2f2f2;
	color:#111111;
}

DIV.B {
	font-family:'iawriter',Georgia,serif;
	text-align:center;
	font-size:x-large;
	line-height:100%;
	font-weight:700;
	text-transform:uppercase;
	background:#f2f2f2;
	color:#111111;
}

DIV.C {
	font-family:'iawriter',Georgia,serif;
	line-height:120%;
	text-align:center;
	font-size:large;
	font-weight:700;
	text-transform:uppercase;
	background:#f2f2f2;
	color:#111111;
}

DIV.D {
	font-family:'iawriterSC',Georgia,serif;
	font-size: 1.25em;
	text-align:center;
	text-transform:lowercase;
	color:red;
}

DIV.E {
	font-family:'iawriter',Georgia,serif;
	line-height:120%;
	text-align:center;
	font-size:medium;
	font-weight:700;
	text-transform:uppercase;
	background:#f2f2f2;
	color:#111111;
}

DIV.F {
	font-family:'iawriter',Georgia,serif;
	line-height:120%;
	text-align:center;
	font-size:medium;
	font-weight:700;
	text-transform:uppercase;
	background:#f2f2f2;
	color:#111111;
}

DIV.G {
	font-family:'iawriter',Georgia,serif;
	font-size:small;
	line-height:120%;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	background:#f2f2f2;
	color:#111111;
}

DIV.H {
	font-family:'iawriter',Georgia,serif;
	line-height:120%;
	text-align:center;
	font-size:small;
	font-weight:700;
	text-transform:uppercase;
	background:#f2f2f2;
	color:#111111;
}

SPAN.uno {
	font-family:'iawriter',Georgia,serif;
	font-size:x-large;
	line-height:100%;
	background:#f2f2f2;
	color:red;
}

SPAN.dos {
	font-family:'iawriter',Georgia,serif;
	font-size:large;
	line-height:120%;
	background:#f2f2f2;
	color:#111111;
}

SPAN.tres {
	font-family:'iawriter',Georgia,serif;
	font-size:medium;
	line-height:120%;
	background:#f2f2f2;
}

SPAN.cuatro {
	font-family:'iawriter',Georgia,serif;
	font-size:medium;
	line-height:120%;
	background:#f2f2f2;
	color:red;
}

SPAN.cinco {
	font-family:'iawriter',Georgia,serif;
	font-size:medium;
	line-height:120%;
	background:#f2f2f2;
	color:red;
}

SPAN.seis {
	font-family:'iawriter',Georgia,serif;
	font-size:small;
	line-height:120%;
	background:#f2f2f2;
	color:#111111;
}

SPAN.siete {
	font-family:'iawriter',Georgia,serif;
	font-size:x-small;
	line-height:120%;
	background:#f2f2f2;
	color:#111111;
}

SPAN.ocho {
	font-size:medium;
	line-height:120%;
	background:#f2f2f2;
	color:#111111;
}

SPAN.nueve {
	font-family:'iawriter',Georgia,serif;
	font-size:x-small;
	line-height:120%;
	background:#f2f2f2;
	color:#111111;
}

SPAN.diez {
	font-family:'iawriter',Georgia,serif;
	font-size:x-small;
	line-height:120%;
	background:#f2f2f2;
}

SPAN.unon {
	font-family:'iawriter',Georgia,serif;
	font-size:x-large;
	font-weight:700;
	line-height:100%;
	background:#f2f2f2;
	color:red;
}

SPAN.dosn {
	font-family:'iawriter',Georgia,serif;
	font-size:large;
	font-weight:700;
	line-height:120%;
	background:#f2f2f2;
	color:#111111;
}

SPAN.tresn {
	font-family:'iawriter',Georgia,serif;
	font-size:medium;
	font-weight:700;
	line-height:120%;
	background:#f2f2f2;
	color:#111111;
}

SPAN.cuatron {
	font-family:'iawriter',Georgia,serif;
	font-size:medium;
	font-weight:700;
	line-height:120%;
	background:#f2f2f2;
	color:red;
}

SPAN.cincon {
	font-family:'iawriter',Georgia,serif;
	font-size:medium;
	font-weight:700;
	line-height:120%;
	background:#f2f2f2;
	color:red;
}

SPAN.seisn {
	font-family:'iawriter',Georgia,serif;
	font-size:small;
	font-weight:700;
	line-height:120%;
	background:#f2f2f2;
	color:#111111;
}

SPAN.sieten {
	font-family:'iawriter',Georgia,serif;
	font-size:x-small;
	font-weight:700;
	line-height:120%;
	background:#f2f2f2;
	color:#111111;
}

SPAN.breve {
	text-decoration:none;
}

SPAN.blank {
	font-family:'iawriter',Georgia,serif;
	font-size:x-small;
	line-height:100%;
	text-align:center;
	background:#f2f2f2;
	color:#f2f2f2;
}

SPAN.lista {
	display:block;
	text-align:right;
}

SPAN.num {
	font-family:'iawriter',Georgia,serif;
	font-size:small;
	background:#f2f2f2;
	color:#EAB8EB;
}

SPAN.tit {
	display:none;
}

SPAN.ref {
	display:block;
	font-size:small;
	line-height:120%;
	text-align:right;
	background:#f2f2f2;
	color:silver;
}

SPAN.refs {
	font-family:'iawriter',Georgia,serif;
	font-size:small;
	font-weight:light;
	line-height:100%;
	vertical-align:middle;
	background:#f2f2f2;
	color:#9CC;
}

SPAN.cit {
	display:none;
}

SPAN.O {
	border-style:outset;
	line-height:250%;
}

SPAN.L {
	border-style:inset;
	line-height:250%;
}

SPAN.I {
	font-weight:700;
	font-style:italic;
	line-height:250%;
}

SPAN.M {
	font-weight:700;
	border-style:solid;
	line-height:250%;
}

SPAN.H {
	font-weight:700;
	font-style:italic;
	border-style:solid;
	line-height:250%;
}

SPAN.T {
	text-decoration:line-through;
	line-height:250%;
}

SPAN.C {
	font-weight:700;
	text-decoration:underline;
	line-height:250%;
}

SPAN.F {
	font-weight:700;
	font-style:italic;
	text-decoration:line-through;
	line-height:250%;
}

SPAN.G {
	font-weight:700;
	border-style:solid;
	vertical-align:sub;
	text-decoration:line-through;
	line-height:250%;
}

SPAN.X {
	text-decoration:line-through;
	vertical-align:super;
	letter-spacing:2pt;
	line-height:250%;
}

SPAN.Y {
	font-weight:700;
	vertical-align:sub;
	letter-spacing:2pt;
	line-height:250%;
}

SPAN.Z {
	font-weight:700;
	font-style:italic;
	text-decoration:line-through;
	vertical-align:super;
	letter-spacing:2pt;
	line-height:250%;
}

SPAN.W {
	font-weight:700;
	border-style:solid;
	text-decoration:line-through;
	vertical-align:super;
	letter-spacing:2pt;
	line-height:250%;
}

SPAN.V {
	background:silver;
	line-height:250%;
}

SPAN.P {
	background:silver;
	font-weight:700;
	font-style:italic;
	line-height:250%;
}

SPAN.N {
	background:silver;
	text-decoration:line-through;
	line-height:250%;
}

SPAN.Q {
	background:silver;
	font-weight:700;
	text-decoration:underline;
	line-height:250%;
}

SPAN.nota {
	font-family:"Courier New",Courier;
}

SPAN.falsa {
	font-family:'iawriter',Georgia,serif;
	font-size:small;
	line-height:120%;
}

SPAN.negra {
	font-family:'iawriter',Georgia,serif;
	font-size:medium;
	font-weight:700;
	line-height:120%;
	background:#f2f2f2;
	color:#020;
}

SPAN.negrag {
	font-family:'iawriter',Georgia,serif;
	font-size:large;
	font-weight:700;
	line-height:120%;
	background:#f2f2f2;
	color:#020;
}

SPAN.super {
	font-size:x-small;
	vertical-align:text-top;
}

SPAN.ZA {
	text-transform:uppercase;
}

TABLE {
	/* border-color:#DDD; */ 
	text-align:center;
}

TH {
	vertical-align:middle;
	text-align:center;
}

TD {
	text-align:left;
	background:#f2f2f2;
}

UL.no {
	font-family:'iawriter',Georgia,serif;
	list-style-type:none;
}

LI.BR {
	list-style-image:url(http://www.corpusthomisticum.org/icons/red-ball.gif);
}

LI.BAP {
	list-style-image:url(http://www.corpusthomisticum.org/icons/bap.gif);
}

LI.BRP {
	list-style-image:url(http://www.corpusthomisticum.org/icons/brp.gif);
}

LI.BMP {
	list-style-image:url(http://www.corpusthomisticum.org/icons/bmp.gif);
}

LI.CZP {
	vertical-align:33%;
	list-style-image:url(icons/bcz.gif);
}

LI.EN {
	vertical-align:33%;
	list-style-image:url(icons/ben.gif);
}

LI.ENP {
	vertical-align:33%;
	list-style-image:url(icons/ben.gif);
}

LI.ESP {
	vertical-align:33%;
	list-style-image:url(icons/bes.gif);
}

LI.ES {
	vertical-align:33%;
	list-style-image:url(icons/bes.gif);
}

LI.FR {
	vertical-align:33%;
	list-style-image:url(icons/bfr.gif);
}

LI.HR {
	vertical-align:33%;
	list-style-image:url(icons/bhr.gif);
}

LI.PO {
	vertical-align:33%;
	list-style-image:url(icons/bpt.gif);
}

LI.IT {
	vertical-align:33%;
	list-style-image:url(icons/bit.gif);
}

LI.NL {
	vertical-align:33%;
	list-style-image:url(icons/bnl.gif);
}

LI.NP {
	vertical-align:33%;
	list-style-image:url(icons/bnp.gif);
}

LI.DE {
	vertical-align:33%;
	list-style-image:url(icons/bde.gif);
}

LI.LA {
	vertical-align:33%;
	list-style-image:url(icons/bla.gif);
}

LI.POL {
	vertical-align:33%;
	list-style-image:url(icons/bpl.gif);
}

LI.EL {
	vertical-align:33%;
	list-style-image:url(icons/bel.gif);
}

LI.RU {
	vertical-align:33%;
	list-style-image:url(icons/bru.gif);
}